In [41]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load "DataPool" and "TextObject" Class

In [52]:
from djsurfer.datapool import DataPool
from djsurfer.lib_interface.text_object import TextObject

# Create a DataPool object

In [50]:
dp = DataPool(path=r'C:\95_Programming\10_Data_Related\20_Projects\10_Git\20_DJSurfer\tests\demo_data', 
              interface=TextObject, 
              pattern=r'*.txt')

dp

# List all interface objects in the data pool

In [53]:
dp.objs

[<djsurfer.lib_interface.text_object.TextObject at 0x22848264400>,
 <djsurfer.lib_interface.text_object.TextObject at 0x22848264df0>]

# Get a sinal from all interfaces
If the interface does not have the signal, it will return nan

In [47]:
dp.get_signal('col_5')

      data0   data1
0    0.9839  0.1085
1    0.5546  0.4029
2    0.2662  0.0761
3    0.4534  0.2344
4    0.9268  0.2217
..      ...     ...
115     NaN  0.2003
116     NaN  0.4993
117     NaN  0.4919
118     NaN  0.6134
119     NaN  0.9962

[120 rows x 2 columns]

# To do:
1. create __repr__ and __str__ for DataPool
2. create __len__ for DataPool
3. change "df" in Interface to private